<div th:fragment="nav" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container"> <!-- Сужение до container -->
            <a class="navbar-brand" th:href="@{/}">Автонарушители</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/create}">
                            <i class="fa-solid fa-plus me-1"></i> Добавить
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <!-- Если пользователь вошёл -->
                    <li class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
                        <span class="nav-link disabled text-white me-2" sec:authentication="name"></span>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}">Выйти</a>
                    </li>

                    <!-- Если не вошёл -->
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/register}">Регистрация</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
