<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Автонарушители</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/create}">Добавить</a>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text text-white fw-bold" th:text="${user}">Имя пользователя</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
